/*--------------------------------------------------------------
# Colors Pallette
--------------------------------------------------------------*/

:root{
    --black: black;
    --white: white;
    --whitesmoke: whitesmoke;
    --box-one: teal;
    --box-two: gold;
    --box-three: cadetblue;
    --box-four: coral;
    --box-five: crimson;
    --box-six: forestgreen;
    --box-seven: darkorchid;
    --box-eight: hotpink;
    --box-nine: indigo;
    --box-ten: dodgerblue;
    --p-font: #4f4f4f;
}